<template>
    <div>
        <h1>Method</h1>
        <hr />
        <h3>{{ greeting(45) }}</h3>
        <h1>{{ ArowFunc(500) }}</h1>
    </div>
</template>

<script>
const msg = "TEST";
const username = "mark ";
const password = 1111;
let age;
let price;
export default {
    name: 'MethodView',
    data() {
        return {
            username,
            password,
            msg,
            age,
            price,
        };
    },
    methods: {
        ArowFunc: (price) => {
            return "OK " + price;
        },

        greeting(age) {
            return "Hello " + username + age;
        },
    },
};
</script>

<style lang="scss" scoped>

</style>